:root {
    --tab-background: #3498db;
    --tab-color: #fff;
    --tab-border: 1px solid #fff;
    --tab-border-radius: 5px;
    --tab-font-size: 22px;
    --tab-background-active: #8e44ad;
    --tab-gap: 5px;
    --tab-height: 50px;
    --tab-padding: 10px 40px;

    --tab-content-font-size: 18px;
    --tab-content-background: #27ae60;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid #000000;
}


.tabs {
    padding: 0;
    margin: 0;
    display: flex;
    gap: var(--tab-gap);
    flex-wrap: wrap;
    width: 100%;
}

.tabs > li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    padding: var(--tab-padding);
    height: var(--tab-height);
    cursor: pointer;
    background: var(--tab-background);
    color: var(--tab-color);
    font-size: var(--tab-font-size);
    border-radius: var(--tab-border-radius);
}

.tabs > li:hover {
    filter: hue-rotate(-15deg);
}

.tabs > li.active {
    background: var(--tab-background-active);
}


.content {
    width: 100%;
    height: 100%;
    background: var(--tab-content-background);
}